<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= @user.id %> | Hello SocialPresence!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <h2><%= gettext "Welcome. Your user id is %{user_id}.", user_id: @user.id %></h2>
        <p>You can pick your user id by changing it in the url. Or get a new <a href="<%= page_path(@conn, :index)%>">random one</a>.</p>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script>
      window.userToken = "<%= @token %>"
      window.userId = <%= @user.id %>
    </script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
